.section__companies {
    h5 {   
        font-weight: 700;
    }

    .companies__logo-box {
        padding: 0.3rem;
        max-width: 100%;
        height: 3rem;
        margin-bottom: 2rem;
        text-align: center;
        box-sizing: border-box;
        
        

        img {
            
            height: 100%;
        }
       
    }

    

    

}

