.section__testimonials {
    @include gradient;
    margin-top: 10rem;
    position: relative;

     .carousel-item {
        i {
             color: rgba($primary, 0.7);
         }
    }

    &--card {

        padding: 2rem 1.25rem;
        height: auto;
        background-color: rgba($white, 0.8);
        border-radius: 0.7rem;
        color: rgb(70, 69, 69);
        font-size: 1rem;
        text-align: center;

        
        p {
            
            i {
                font-size: 1.5rem;
            }
        }
    }

    &--picture {
        
        position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 6rem;
            height: 6rem;
            

        img {
            border-radius: 50%;
            border: 0.3rem solid rgba($primary, 0.7);
            
        }
    }

    &--name {
        padding-top: 3rem;
        margin-bottom: 1rem;
        font-weight: 500;

        h3 {
            padding-top: 0.8rem;
            text-transform: capitalize;
        }

        p {
            padding-bottom: 2rem;
            text-transform: capitalize;
        }
    }
}