@import "../components/mixins";

.btn-rounded {
    @include media-breakpoint-down(sm) {
        display: none;
    }
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border: 0.1rem solid rgba($white, 0.6);
    padding: 0.9375rem 3.9rem 0.9375rem 1.25rem;
    font-weight: 700;
    margin: 0;
    background-color: $white;

    span {
        position: absolute;
        background-color: $primary;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 5px;

        img {
            filter: invert(1);
            color: $white;
        }
        
    }

    
    &:hover {
        @include gradient;
        color: $white;

        span {
            background-color: rgba($black, 0.6);
        }
    }
    
}